:root {
  --font-noto: "noto";
  --blue-color: #4b4eba;
  --yellow-color: #f0c648;
  --skyblue-color: #afe0fe;
  --border-color: #d9d9d9;
}

.Nav {
  width: 100%;
  max-width: 768px;
  border-bottom: 1px solid var(--border-color);
  padding: 14px;
}

.logo {
  width: 20%;
}